= form 'event', :post
Enter event details:
= label :event, :summary
= input :event, :summary
= label :event, :description
= textarea :event, :description
= label :event, :start
= input :event, :start
= label :event, :duration
= input :event, :duration
= submit :create
